# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log

# ---------------
# Compiled assets
# ---------------
dist/*
!dist/main-embed.css
!dist/main-inline.css
!dist/main-embed.min.css
!dist/main-inline.min.css
