/* =============================================================================
   TYPOGRAPHY (embed/utilities/_typography.scss)
   ========================================================================== */

/* Media queries
   ========================================================================== */

@media (max-width: $breakpoint-mobile) {
	/**
	 * Utilities for controlling the alignment of text.
	 */

	.u-text-left\@sm {
		text-align: left !important;
	}

	.u-text-center\@sm {
		text-align: center !important;
	}

	.u-text-right\@sm {
		text-align: right !important;
	}
}
