/* =============================================================================
   HEADINGS (utilities/_headings.scss)
   ========================================================================== */

/**
 * 1. Reset margins.
 * 2. Base headings typography settings.
 */

.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
	margin: 0; /* 1 */
}

.u-h1 {
	/* 2 */
	font-size: $font-size-h1;
	line-height: $line-height-h1;
}

.u-h2 {
	/* 2 */
	font-size: $font-size-h2;
	line-height: $line-height-h2;
}

.u-h3 {
	/* 2 */
	font-size: $font-size-h3;
	line-height: $line-height-h3;
}

.u-h4 {
	/* 2 */
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}

.u-h5 {
	/* 2 */
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}

.u-h6 {
	/* 2 */
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}
