/**
 * Style embedded (style-embedded.scss)
 */

/* ----- Variables ----- */
@import 'variables';

/* ----- Responsive ----- */
@media (max-width: $breakpoint-mobile) {
    /* ----- Reset ----- */
    .body-table-spacing {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* ----- Grid ----- */
    .container {
        width: 100% !important;

        td {
            width: 100% !important;
            display: block;
            box-sizing: border-box;
        }
    }

    .first {
        padding-left: $grid-gutter !important;
    }

    .last {
        padding-right: $grid-gutter !important;
    }
}
