/* =============================================================================
   HERO (components/_hero.scss)
   ========================================================================== */

.c-hero {
	width: 600px;
	height: 350px;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
}



/* Inner
   ========================================================================== */

.c-hero__inner {
	height: 350px;
	vertical-align: middle;

	> table {
		width: 520px;
		margin: 0 auto;
	}
}
