/**
 * Hero (components/_hero.scss)
 */

/* ----- General ----- */
.hero {
    width: 600px;
    height: 350px;
    background-size: cover;
    background-position: center;
    vertical-align: top;
}

/* ----- Inner ----- */
.hero__inner {
    width: 100%;
}
