/**
 * Grid (tools/_grid.scss)
 */

/* ----- Columns ----- */
@mixin grid-columns {
    // Generate classes for columns with gutter
    %padding-styles {
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
    }

    @for $i from 1 through $grid-columns {
        .column-#{$i} {
            @extend %padding-styles;
        }
    }

    // Generate classes for columns without gutter
    %no-padding-styles {
        padding: 0;
    }

    @for $i from 1 through $grid-columns {
        .no-gutter .column-#{$i} {
            @extend %no-padding-styles;
        }
    }

    // Generate classes with width
    @for $i from 1 through $grid-columns {
        .column-#{$i} {
            width: $grid-column-width * $i;
        }
    }
}
