/* =============================================================================
   GRID (embed/objects/_grid.scss)
   ========================================================================== */

/* Media queries
   ========================================================================== */

@media (max-width: $breakpoint-mobile) {
	.o-container {
		width: 100% !important;

		td {
			width: 100% !important;
			display: block;
			box-sizing: border-box;
		}
	}

	/**
	 * 1. Generate .is-first and .is-last classes.
	 */

	@for $i from 1 through $grid-columns {
		/* 1 */
		.o-column-#{$i}.is-first {
			padding-left: $grid-gutter !important;
		}

		.o-column-#{$i}.is-last {
			padding-right: $grid-gutter !important;
		}
	}
}
